<nav class="navbar navbar-expand-sm navbar-dark navbar-background">
  <ul class="navbar-nav">
    <div class="navbar-header ">
      <img src="../assets/images/logo_big.png" alt="Logo" id="logo-small-container">
      <a class="navbar-brand" href="#">Inventory System</a>
    </div>

    <li class="nav-item ">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/rugs" routerLinkActive="active">List</a>
    </li>

  </ul>
</nav>

<div class="container form-container">
  <router-outlet></router-outlet>
</div>
