<nav class="navbar navbar-expand-sm navbar-dark navbar-background">
  <ul class="navbar-nav">
    <div class="navbar-header ">
      <img src="../assets/images/logo_big.png"
           alt="Logo"
           id="logo-small-container">
      <a class="navbar-brand"
         href="#">&nbsp;Inventory System</a>
    </div>

    <li class="nav-item">
      <button type="button"
              class="btn navbar-button btn-default"
              routerLink="/home"
              routerLinkActive="active">Home</button>
    </li>

    <li class="nav-item">
      <button type="button"
              class="btn navbar-button btn-default"
              routerLink="/rugs"
              routerLinkActive="active">List</button>
    </li>
  </ul>
</nav>

<div class="container form-container">
  <router-outlet></router-outlet>
</div>
