.list-item-background {
    padding: 10px 5px;
    margin: 5px 0px;
    background-color: #b6c1c0;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 100;

    &:hover{
      background-color: #a4dad5;
    }

    &:active{
      background-color: #7bd2c9;
    }
}
