.list-item-background {
    padding: 10px 5px;
    margin: 5px 0px;
    border: 1px solid #579b94;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 100;
    &:hover {
        background-color: #a4dad5;
        border: 1px solid #a4dad5;
    }
    &.active {
        background-color: #7bd2c9;
    }
    .list-image {

        max-width: 40px;
        max-height: 70px;
        margin-right: 10px;
        float:left;

    }
}
