<div class="row">
  <div class="col-md-4">
    <button type="button"
            class="btn btn-success"
            (click)="onAddRug()">Add New item</button>

    <p>Total Quantity: {{rugs.length}}</p>
    <app-rug-list [rugs]="rugs"
                  [rug]="rug"
                  (select)="onSelectRug($event)"></app-rug-list>
  </div>

  <div class="col-md-8">
    <ng-container *ngIf="showWelcome; else rugDetail">
      <div class="imgbox">
        <img class="center-fit"
             src="../assets/images/welcome.png">
      </div>
      <p>Please select any item from the list. All items are able to edit or delete.</p>
      <p>Using "Add New item" button to create a item into this list.</p>
    </ng-container>

    <ng-template #rugDetail>
      <app-rug-detail *ngIf="rug"
                      [rug]="rug"
                      [editMode]="editMode"
                      (save)="onSaveRug($event)"
                      (delete)="onDeleteRug($event)"
                      (edit)="onEdit()"
                      (fileChange)="onFileChange($event)">
      </app-rug-detail>
    </ng-template>
  </div>
</div>
