<div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-success btn-block add-rug" (click)="onAddRug()">Add New item</button>

      <p>Total Quantity: {{rugs.length}}</p>
      <app-rug-list [rugs]="rugs" (select)="onSelectRug($event)"></app-rug-list>
    </div>

    <div class="col-md-8">
      <app-rug-detail *ngIf="rug" [rug]="rug" [editMode]="editMode" (save)="onSaveRug($event)" (delete)="onDeleteRug($event)" (edit)="onEdit()" (fileChange)="onFileChange($event)">
      </app-rug-detail>
    </div>
  </div>
