.item-value {
    font-size: 15px;
    color: #940505;
    font-weight: 100;
    margin-left: 10px;
}

.item-image {
    min-width: 500px;
}

.remind-number {
    color: #f22222;
    font-size: 13px;
    font-weight: 200;
}
